@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	color:black;
	background:black
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

div {
    height: 100px;
    background-color: transparent;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

	font-family: 'Share Tech Mono', monospace;
}


.wrapper {
	height: 100vh;
	/*This part is important for centering*/
	display: grid;
	place-items: center;
	position:aboslute;
	z-index: index 10;
  }
  
  .typing-demo {
	width: 90%;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 4.5rem;
	color:white
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }